*{
    margin: 0;
    padding: 0;
    user-select: none;

}
html,body{
    font-size: 14px;
    width: 100%;
    height: 100%;
}
ul,li,ol{
    list-style: none;
}
.header{
    width: 100%;
    height: 45px;
    /* background: red; */
}
.header .logo{
    display: inline-block;
    opacity: 0.5;
}
.header .logo:hover{
    opacity: 1;
}
.header .logo a{
    display: inline-block;
    width: 78px;
    height: 21px;
    background: url("https://y.gtimg.cn/mediastyle/yqq/img/logo.png?nowebp=1") no-repeat 0 0;
    background-size: 78px 21px;
    margin-left: 20px;
}
.header ul{
    float: right;
    margin-right: 23px;
}
.header ul li{
    float: left;
    margin: 0 8px;
    line-height: 45px;
    color: white;
    opacity: 0.5;

}
.header ul li:hover{
    opacity: 1;
}
.content{
    width: 100%;
    height: 460px;
    /* background: blueviolet; */
}
.content .content_in{
    width: 1200px;
    height: 100%;
    /* background-color: hotpink; */
    margin: 0 auto;
}
.content_in .content_left{
    width: 800px;
    height: 100%;
    float: left;
    /* background: rgba(0, 140, 255, 0.6); */

}
.content_left .content_toolbar{
    width: 100%;
    height: 40px;
    /* background: black; */

}
.content_left .content_toolbar span{
    display: inline-block;
    width: 122px;
    height: 100%;
    line-height: 40px;
    text-align: center;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 5px;
    color: cornsilk;
    opacity: 0.5;
    

}
.content_left .content_toolbar span:hover{
    opacity: 1;
}

.content_left .content_toolbar span i{
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
}
.content_left .content_list{
    width: 100%;
    height: 420px;
    /* background: rgb(226, 43, 165); */
    overflow: auto;
}
.content_list li{
    list-style: none;
    width: 100%;
    height: 50px;
    /* background: orange; */
    opacity: 0.6;
    border-bottom: 1px solid rgb(41, 39, 39);
    box-sizing: border-box;
    /* 设置文字不能选中*/
    /* user-select: none; */
}
.content_list li div{
    float: left;
    color: #fff;
    line-height: 50px;
}

.content_list .list_check{
    width: 50px;
    height: 100%;
    background: black url(../img/checkbox.png) no-repeat 50% 50%;
    background-size: 16px 16px ;
    text-align: center;
    position: relative;
}


.content_list .list_number{
    width: 20px;
    height: 100%;
    /* background: greenyellow; */
}
.content_list .list_name{
    width: 50%;
    height: 100%;
    /* background: rgb(201, 41, 41); */
}
.list_name .list_monu{
    float: right;
    margin-right: 20px;
}
.list_name .list_monu a{
    display: inline-block;
    width: 36px;
    height: 36px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: none;
    margin: 0 12px;
}
.list_time a{
    display: inline-block;
    width: 36px;
    height: 36px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 12px;
    display: none;

}
.content_list .list_singer{
    width: 20%;
    height: 100%;
    /* background: rgb(8, 184, 32); */
}
.content_list .list_time{
    height: 100%;
}




.content_in .content_right{
    width: 400px;
    height: 100%;
    float: right;
    /* background: rgba(157, 255, 0, 0.6); */
}

.content_right .song_info {
    text-align: center;
    line-height: 30px;
}

.content_right .song_info_pic{
    display:inline-block;
    width: 201px;
    height: 180px;
    background:url(../img/singer_bottom.png) no-repeat 0 0 ;
    background-size: 201px 180px;
}
.song_info_pic img{
    width: 180px;
    height: 180px;
    padding-right: 20px;
}
.song_info div a{
    text-decoration: none;
    color: white;
    opacity: 0.6;
}
.song_info div a:hover{
    opacity: 1;
}
.content_right  .song_lyric {
    text-align: center;
    margin-top: 30px;
}
.content_right  .song_lyric li{
    color: #ccc;
    list-style: none;
    line-height: 34px;
    font-weight: bold;
}
.content_right  .song_lyric .cur{
    color: rgba(15, 230, 25, 0.8);
}










.footer .footer_in{
    width: 1200px;
    height: 100%;
    /* background-color: palegreen; */
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.footer_in .music_start{
    flex: 2;
    display: flex;
    text-align: center;
}
.footer_in a{
    display: inline-block;
    width: 22px;
    height: 22px;
    text-decoration: none;
    color: #fff;
    flex: 1;
}
.footer_in .music_info{
    /* width: 50%; */
    height: 60%;
    /* background: rgb(226, 43, 165); */
    flex: 6;
    
}
.music_info .music_info_top{
    width: 100%;
    height: 30px;
    line-height: 30px;
    /* background: greenyellow; */
    color: white;
}
.music_info_top .music_info_name{
    float: left;
    opacity: 0.7;
}
.music_info_top .music_info_name:hover{
    opacity: 1;
}
.music_info_top .music_info_time{
    float: right;
    opacity: 0.7;

}
.music_info .music_info_bar{
    width: 100%;
    height: 4px;
    /* color: rgba(70, 65, 65,.6); */
    background: rgb(41, 39, 39);
}
.music_info_bar .music_info_line{
    width: 10%;
    height: 4px;
    /* color: rgba(255, 255, 255, 0.8); */
    background: rgb(201, 41, 41);
    position: relative;
}
.music_info_bar .music_info_dot{
    width: 14px;
    height: 14px;
    background: white;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: -5px;
}


.footer_in .music_voice_bar{
    width: 100%;
    height: 4px;
    /* color: rgba(70, 65, 65,.6); */
    background: rgb(41, 39, 39);
}
.music_voice_bar .music_voice_line{
    width: 50%;
    height: 4px;
    /* color: rgba(255, 255, 255, 0.8); */
    background: rgb(201, 41, 41);
    position: relative;
}
.music_voice_bar .music_voice_dot{
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: -4px;
}


.footer_in .music_voice_info{
    /* width: 12%; */
    height: 100%;
    /* background: rgb(226, 43, 165); */
    flex: 1;
    display: flex;
    align-items: center;
}
.music_voice_info .music_voice_icon{
    flex: 1;
}
.music_voice_info .music_voice_bar{
    flex: 3;
}

.footer_in .music_mode_only{
    flex: 3;
    display: flex;
    margin: 14px;
    
}
.music_mode_only .music_only{
    border: 1px solid white;
    border-radius: 16px;
    text-align: center;
    /* background: greenyellow; */
}
.music_mode_only  .music_only_bg {
    background: greenyellow;
    font-weight: bold;
}
.footer{
    width: 100%;
    height:60px;
    padding-bottom: 30px;
    /* background: greenyellow; */
    position: absolute;
    left: 0;
    bottom: 0;
}
.mask_bg{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background: url("../img/wyj.png") no-repeat 0 0;
    background-size: cover;
    /* 高斯模糊  值越大越模糊 */
    filter: blur(80px);
}
.mask{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0,0.35);
}